<!DOCTYPE html>
<html lang="en" ng-app="fakeQiitaApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fake Qiita</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  </head>

  <body ng-controller="FakeQiitaController as cm">
    <nav class="navbar navbar-default github-like">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Fake Qiita
          </a>
        </div>

        <form class="navbar-form navbar-left" role="search" ng-submit="searchQiita()">
          <div class="form-group">
            <input type="text" class="form-control form-navbar" placeholder="Search Qiita" ng-model="searchWord">
          </div>
        </form>
      </div>
    </nav>

    <div class="container" role="main">

      <%= @inner %>

    </div>

    <footer>
      <div class="container">
        <p>
          &copy; 2015 <a href="https://twitter.com/masato_serizawa" target="_blank">@masato_serizawa</a><br>
          <small>Fake Qiita is a GitHub like qiita my page. This is just a joke app.</small>
        </p>
        <p>
        </p>
        <p>
          <a href="https://github.com/" target="_blank">GitHub</a> / <a href="http://qiita.com/" target="_blank">Qiita</a>
        </p>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
