<div id="error-message">
  <h1>500 internal server error</h1>
  <p>サーバでエラーが発生しました。<br>
    おそらく Qiita API のリクエスト制限に引っかかったのだと思います。<br>
    お手数ですが、しばらく時間を置いた後に再度お試しください。<br>
    しばらく経っても事象が解決されない場合は <a href="https://twitter.com/masato_serizawa" target="_blank">@masato_serizawa</a> までご連絡ください。
  </p>
</div>
